@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600&family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    

}

:root{
    --grey:#636C79;
    --black:#1B1D21;
    --gren:#8BB7A2;
    --white:#fff;
    --text-color:#CED1D5;



}

/* resuable code */

.container{
    height: 100vh;
}

img{
    width: 100%;
}

.display-flex{

    display:flex;
    justify-content:space-center;
    align-items: center;
    flex-direction: row;
}

.btn{
    padding: 1.8rem 4rem;
    background-color: var(--gren);
    color:var(--white);
    border: none;

}

h2{
    font-size: 4rem;
}

p{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--grey);
}

/* resuable code end here */


nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1.5rem 5rem;
}

.list-item{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
   
   
}


.list-items a{
    text-decoration: none;
    color: var(--text-color);



}

.hero-page{
    background-color: var(--grey);

}

.active a{
   margin-left: 4rem;

    float: right;
    border: .2px solid var(--white);
    padding: 1rem 3rem;

}

.list-items a:hover{
color: var(--black);

}



/* hero-section-start */


.hero-section{
margin-top: 10rem;
}

.left-hero img{
  border-radius: .2rem;
  width:65%;
  height: 70vh;

  margin-left: 10%;
  object-fit: cover;




}

.left-hero img:hover{
    box-shadow: 2px 2px 2px var(--black);
}

.right-hero{
    width: 40%;
    display:flex;
    justify-content:baseline;
    align-items: baseline;
    flex-direction: column;
    gap: 6rem;
}

.right-hero h1{
    font-size: 7rem;
    color: var(--white);
    font-weight: 600;



}

.right-hero h1:hover{
    color: var(--black);

}

.right-hero p{
    font-size: 2rem;
    color: #CED1D5;
 
}
.email-icon{
    font-size: 1rem;
   
}


.email input{
background-color: var(--white);
padding: 1rem;

border: none;
}

.email{
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: .5rem;
}


/* business-data-full */

.data-text{
    display:flex;
    justify-content:baseline;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    margin-top: 15vh;

 
}

.data-text h2{
        width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 2%;
}




.business-data{
    display:flex;
    justify-content:space-around;
    align-items: center;

    text-align: center;
    width: 90%;
    padding: 0 10rem;
}




.data-image{
    width: 80%;
  
}

/* animation */

@keyframes slidein {
    from {
 
    margin-top: 100%;
    }
  
    to {
  
    margin-top: 0;
    }
  }

/* header-feature-section */


.feature-section{

    /* height: 100vh; */
    /* margin-top: 70vh; */
    padding: 5rem;

    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
  margin: 10rem 0 10rem 0;

  animation-duration: 2s;
  animation-name: slidein;
    
  
   




}
.feautre-header h2{
    text-align: center;
    width: 30%;
   margin-left: 30%;
   padding: 5rem 0;
   
  
}

.left{
    width: 35%;
    display:flex;
    justify-content:center;
    align-items: baseline;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    box-shadow: -5px 5px 5px  var(--gren);

    

}

.right{
    width: 30%;
    height: 60%;
    margin-left: 20%;
    box-shadow: 5px 5px 5px var(--black);
    padding: 1rem;
 
   

}
.right img{
    width: 100%;

    

}

.left-right{
  width: 20%;
  box-shadow: 5px 5px 5px var(--text-color);


}




/* 4th page */


.flip{
   display:flex;
   justify-content:center;
   align-items: center;
   margin: 2;
}

.flip .right{
    display:flex;
    justify-content:center;
    align-items: baseline;
    flex-direction: column;
    gap: 3rem;

}




/* teams  */


.cards{

    display:flex;
    justify-content:space-around;
    align-items: center;
   
   
    padding: 5rem;

   

 
}

.cards-header{
    width: 80%;
    align-items: center;
    margin-left: 20%;


}

.cards-header h2{
    width:100%;
}

.cards-header p{
    width: 60%;
}



.card{
    width: 25%;
    gap: 1rem;
    display:flex;
    justify-content:center;
    align-items: baseline;
    flex-direction: column;
    
}

.card img{
    width: 100%;
}


.btn-center{
    display:flex;
    justify-content:center;
    align-items: center;
}

/* footer */


footer{
    background-color: #10181D;
    height: 60vh;
    margin-top: 10%;
}

.footer-logo{
    display:flex;
    justify-content:space-around;
    align-items: center;
   padding: 2rem 0;
    font-size: 1rem;
 

}

.footer-icon li{
    padding: 1rem;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
   
   
}

.line{
    width: 80%;
    height: .3rem;
    background-color: var(--white);
  margin-left: 20%;
  margin-top: 2rem;
}

.footer-icon{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.footer-logo img{
    width: 10%;
}



/* footer-bottom */

.footer-bottom{
    display:flex;
    justify-content:center;
    align-items: baseline;
    gap: 5rem;
    color: wheat;

}


.footer-content{
    display:flex;
    /* justify-content:center; */
    align-items: baseline;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;

}

.footer-content h2{
  text-align: left;
  
}




.footer-content ul li{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    list-style: none;
   
}